body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-left: 15px;
}

.logo img {
    height: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

#search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.suggestions {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 15.suggestions {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: calc(100% - 12px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    left: 0;
    padding: 0;
    display: none;
}

.suggestions.active {
    display: block;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
    list-style: none;
    color: black;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive design */
@media (max-width: 600px) {
    /* Reset header padding for smaller screens */
    header {
        padding: 5px 10px; /* Adjust as needed */
    }

    /* Align logo to the left and adjust margins */
    .logo {
        margin-left: 10px; /* Adjust margin as needed */
        margin-right: auto; /* Pushes the logo to the far left */
    }

    /* Adjust nav ul for vertical stacking */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    /* Increase margin between nav items */
    nav ul li {
        margin: 10px 0;
    }

    /* Adjust search bar position */
    #search-bar {
        margin-top: 10px; /* Add space above the search bar */
        width: 80%; /* Adjust width as needed */
    }

    /* Adjust suggestions list for mobile */
    .suggestions {
        top: 45px; /* Adjust top position to account for search bar */
        width: 80%; /* Adjust width as needed */
    }
}
