body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-left: 15px;
}

.logo img {
    height: 40px; /* Adjust the size as needed */
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    flex-grow: 1; /* Allows the nav items to take remaining space */
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

#search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#suggestions {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    position: absolute;
    width: calc(100% - 12px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    left: 0;
    padding: 0; /* Ensure no padding around the list */
    margin: 0; /* Ensure no margin around the list */
    list-style-type: none; /* Remove default list styling */
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
    list-style: none;
    color: #000;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
    display: block; /* Ensure each item is displayed as a block element */
    width: 100%; /* Ensure each item takes up the full width */
    box-sizing: border-box; /* Include padding and border in the element's width and height */
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
    flex: 1; /* Allows the section to grow and fill the remaining space */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto; /* Pushes the footer to the bottom of the page */
}

/* Donate button */
.donate-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #FF813F;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #FF813F;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.donate-button:hover {
    background-color: #FF813F;
    color: white;
}

/* Responsive design */
@media (max-width: 600px) {
    /* Reset header padding for smaller screens */
    header {
        padding: 5px 10px; /* Adjust as needed */
    }

    /* Align logo to the left and adjust margins */
    .logo {
        margin-left: 10px; /* Adjust margin as needed */
        margin-right: auto; /* Pushes the logo to the far left */
    }

    /* Adjust nav ul for vertical stacking */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    /* Increase margin between nav items */
    nav ul li {
        margin: 10px 0;
    }

    /* Adjust search bar position */
    #search-bar {
        margin-top: 10px; /* Add space above the search bar */
        width: 80%; /* Adjust width as needed */
    }

    /* Adjust suggestions list for mobile */
    .suggestions {
        top: 45px; /* Adjust top position to account for search bar */
        width: 80%; /* Adjust width as needed */
    }
}
